<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="card-header flex justify-between align-center">
    <h2 class="card-title">Category Management</h2>
    <p-button label="Add Category" routerLink="/admin/categories/create" />
  </div>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <app-empty-state
    *ngIf="!isLoading && categories.length === 0"
    icon="category"
    title="No categories found"
    description="There are currently no categories. Create one to get started."
  ></app-empty-state>

  <div class="card-body p-0" *ngIf="!isLoading && categories.length > 0">
    <div class="table-container no-border-radius">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>#{{ category.id }}</td>
            <td class="font-medium">{{ category.name }}</td>
            <td>{{ category.description || "No description" }}</td>
            <td>
              <span
                class="status-badge"
                [ngClass]="{
                  success: category.status === 'ACTIVE',
                  error: category.status === 'INACTIVE',
                }"
              >
                {{ category.status }}
              </span>
            </td>
            <td class="text-right">
              <div class="action-buttons">
                <button
                  class="p-button-sm p-button-text"
                  [routerLink]="['/admin/categories/edit', category.id]"
                  title="Edit"
                >
                  <span class="material-icons">edit</span>
                </button>
                <button
                  class="icon-btn text-error"
                  (click)="confirmDelete($event, category.id)"
                  title="Delete"
                >
                  <span class="material-icons">delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination" *ngIf="totalPages > 1">
      <button
        class="pagination-btn"
        [disabled]="currentPage === 0"
        (click)="loadCategories(currentPage - 1)"
      >
        <span class="material-icons">chevron_left</span>
      </button>
      <span class="pagination-info"
        >Page {{ currentPage + 1 }} of {{ totalPages }}</span
      >
      <button
        class="pagination-btn"
        [disabled]="currentPage >= totalPages - 1"
        (click)="loadCategories(currentPage + 1)"
      >
        <span class="material-icons">chevron_right</span>
      </button>
    </div>
  </div>
</div>
