<div *ngIf="addressGroup" [formGroup]="addressGroup">
  <div class="grid-3">
    <div class="form-group">
      <label>Province</label>
      <select class="form-control" formControlName="province">
        <option value="">Select Province</option>
        <option *ngFor="let p of provinces" [value]="p.value">{{ p.label }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>District</label>
      <select class="form-control" formControlName="district">
        <option value="">Select District</option>
        <option *ngFor="let d of districts" [value]="d.value">{{ d.label }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Municipality</label>
      <select class="form-control" formControlName="municipality">
        <option value="">Select Municipality</option>
        <option *ngFor="let m of municipalities" [value]="m.value">{{ m.label }}</option>
      </select>
    </div>
  </div>
  <div class="grid-3">
    <div class="form-group">
      <label>Ward No *</label>
      <input type="number" class="form-control" formControlName="wardNo" />
    </div>
    <div class="form-group">
      <label>Street</label>
      <input class="form-control" formControlName="street" />
    </div>
    <div class="form-group">
      <label>Postal Code</label>
      <input class="form-control" formControlName="postalCode" />
    </div>
  </div>
</div>